<div id="build-prints">
<style>
    .form-table, .details-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
.details-table td {
    border: 1px solid #ccc;
}
.form-table td.label, .details-table td.label  {
    min-width: 100px;
    text-align: right;
    font-size:14px;
    color: #666;
}
.form-table td.input, .details-table td.content  {
    width: 290px;
    text-align: left;
    font-size:14px;
    color: #666;
}
.form-table .link {
    font-size: 14px;
    color: #06f;
    position: relative;
    top: 2px;
    left: 5px;
    cursor: pointer;
}
.form-table .textdesc {
    width: 50%;
    height: 80px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
}
.form-table .textarea {
    width: 91%;
    height: 150px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
}
.details-table {
    width: 98%;
}
.details-table td.content {
    padding: 0 0 0 5px;
}
.details-table td {
    padding: 8px 0;
}
.details-table tr:nth-child(2n) {
    background-color: #fafafa;
}
.details-table tr:hover {
    background-color: #eee;
}
</style>
<table  class="details-table" style="max-width: 780px;">
    <tbody>
        <tr>
            <td colspan="2" align="center" style="font-size: 16px;font-weight: bold;">{$addtime|date="Y-m-d",###} 施工日志</td>
            <td align="center">资料编号</td>
            <td align="center"> </td>
        </tr>
        <tr>
            <td align="center" width="22%">天气情况</td>
            <td align="center" width="22%">风力</td>
            <td align="center"  width="22%">温度</td>
            <td align="center">备注</td>
        </tr>
        <tr>
            <td align="center" width="22%">{$weather}</td>
            <td align="center" width="22%">{$wind}</td>
            <td align="center"  width="22%">{$c}</td>
            <td align="center"></td>
        </tr>
        <tr>
            <td colspan="4" >
                生产情况记录：(施工部位、施工内容、机械作业、班组工作，生产存在问题等)<br /><br />
                {$prorecord}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                质量安全记录：(技术质量安全活动，检查评定验收、技术质量安全问题等)<br /><br />
                {$record}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                突发事件：<br /><br />
                {$burst}
            </td>
        </tr>
        <tr>
            <td align="center">记录人</td>
            <td align="center"> </td>
            <td align="center">记录时间</td>
            <td align="center"> </td>
        </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    //窗口API
//    var api = frameElement.api, W = api.opener;
//    api.button({
//        name: '确认打印',
//        focus: true,
//        callback: function () {
//            printWin();
//        }
//    }, {
//        name: '取消'
//    });
    //打印方法
    function printWin() {
        var oWin = window.open("", "_blank");
        oWin.document.write(document.getElementById("build-prints").innerHTML);
        oWin.focus();
        oWin.document.close();
        oWin.print()
        //oWin.close()
    }
</script>