<link rel="stylesheet" href="__Admin__/css/style.css" type='text/css'>
    <div class="content-body project-xxl" style="width: 80%;margin: 5px auto;">
        <div class="left cont">
            <div class="imgs">
                <if condition="$img">
                    <volist name="img" id="v">
                        <a style="float: left;width: 33%;height: 160px;overflow: hidden;" href="{$v}" target="_blank"><img style="width: 100%" src="{$v}" class="col-3"  alt=""></a>
                    </volist>
                    <else />
                    没有现场图片
                </if>
            </div>
        </div>
    </div>
