<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>CRM客户关系管理系统</title>
    <link rel="stylesheet" type="text/css" href="__Admin__/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__Admin__/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__Admin__/css/index.css">
    <script type="text/javascript">




        var ThinkPHP = {
            'ROOT' : '__ROOT__',
            'MODULE' : '__MODULE__',
            'INDEX' : '{:U("Index/index")}',
            'DATA' : '__Admin__/data',
            'IMG' : '__Admin__/img'
        };

    </script>
    <style>
        .panel-header-noborder{
            position: relative;
        }
        .highcharts-credits{
            display: none!important;
        }
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',title:'North Title',split:true,noheader:true,border:false" class="layout-north" style='overflow: visible;'>
        <div class="logo">
            <img src="__Admin__/img/logo.png" alt="">
        </div>
        <div class="nav"><i style='float: left;padding: 0 10px 0 34px;height: 42px;line-height: 42px;background: url(/Public/admin/easyui/themes/icons/icon.png) no-repeat 0 -429px;'></i><span style="float:left;line-height: 17px;padding-top: 8px;">您好，{:session('admin')['username']} {:session('admin')['level']}，<em style="display:block;font-style:normal;">（{:session('admin')['name']}）</em></span><div class='right-arrow-down'><i></i>
        <div class="drop-box">
              <div class="arrow"></div>
              <ul class="drop-item">
               <!--  <li><a target="_blank" href="#">预览网站</a></li>
                <li><a href="#" target="mainframe">管理中心</a></li>target="mainframe"-->
                <li><a href="javascript:void(0)"  onclick="$('#password-edit').dialog('open');">修改密码</a></li>
                <li><a href="{:U('Login/out')}">注销登录</a></li>
              </ul>
            </div>
        </div></div>
    </div>
    <!--
    <div data-options="region:'south',title:'South Title',split:true,noheader:true,border:true,height:40" class="layout-south">
        ©2009-2016 瓢城 Web 俱乐部. Powered by ThinkPHP and EasyUI.
    </div>
    -->
    <div data-options="region:'west',title:'导航',split:false,iconCls:'icon-world',border:1,top:45" style='background: #F6F7F7;overflow: visible;' class="layout-west" >
        <!--
        <div class="easyui-accordion" style="width:100%;height: 100%">
            <div title="默认站点" style="padding:10px;">
                <ul class="easyui-tree">
                    <li>
                        <span>Fruits</span>
                        <ul>
                            <li>apple</li>
                            <li>orange</li>
                        </ul>
                    </li>
                    <li>
                        <span>打发斯蒂芬的</span>
                        <ul>
                            <li>阿斯顿发斯蒂芬</li>
                            <li>carrot</li>
                            <li>cabbage</li>
                            <li>potato</li>
                            <li>lettuce</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        -->
        <div id="nav"></div>
    </div>
    <div data-options="region:'center',border:0,height:40"top='45' class="layout-center" style='top:45px;'>
        <div id="tabs">
            <div title="起始页" iconCls="icon-house" style="padding:0 10px;">
                <p>欢迎来到Jolly管理系统！</p>
                <div id="container" style="height:400px;"></div>
                <div>
                    <div id="container2" style="width:49%;height:400px;float:left;"></div>
                    <div id="container3" style="width:49%;height:450px;float: right"></div>
                    <div style="clear: both">
                </div>

                <!--
                <div id="container11" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <table id="datatable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>已完成</th>
                            <th>所有</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>工程任务</th>
                            <td>{$task_count}</td>
                            <td>{$task_all}</td>
                        </tr>
                        <tr>
                            <th>整改问题</th>
                            <td>{$qs_count}</td>
                            <td>{$qs_all}</td>
                        </tr>
                        <tr>
                            <th>工程任务</th>
                            <td>{$task_count}</td>
                            <td>{$task_all}</td>
                        </tr>
                        <tr>
                            <th>整改问题</th>
                            <td>{$qs_count}</td>
                            <td>{$qs_all}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            -->
        </div>
    </div>

    <div id="details-dialog"></div>
    <div id="details-prints-dialog"></div>
    <form id="password-edit" class="" ><!--easyui-dialog-->
        <table class="form-table" style="max-width: 420px;">
            <tr>
                <td class="label">
                    <label for="password-pass-edit" class="form-label">原密码：</label>
                </td>
                <td class="input">
                    <input type="password" id="password-pass-edit" name="password_pass_edit" class="easyui-textbox">
                </td>
            </tr>
            <tr>
                <td class="label">
                    <label for="password-password-edit" class="form-label">新密码：</label>
                </td>
                <td class="input">
                    <input type="password" id="password-password-edit" name="password_password_edit" class="easyui-textbox">
                </td>
            </tr>
        </table>
    </form>
    <div id="menu" class="easyui-menu">
        <div class="closecur">关闭</div>
        <div class="closeall">关闭所有</div>
        <div class="closeother" iconCls="icon-cross">关闭其他所有</div>
    </div>


<script type="text/javascript" src="__Admin__/easyui/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>

<script type="text/javascript" src="__Admin__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__Admin__/easyui/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="__Admin__/js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="__Admin__/js/swfupload/swfupload.handlers.js"></script>
<script type="text/javascript" src="__Admin__/js/index.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: {$categories}
        },
        yAxis: {
            title: {
                text: '近一月项目情况'
            }
        },
        tooltip: {
            enabled: false,
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+this.x +': '+ this.y +'°C';
            }
        },
        credits: {
            enabled:false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '已完成任务',
            data: {$task_count}
        }, {
            name: '所有任务',
            data: {$task_all}
        }, {
            name: '已完成问题',
            data: {$qs_count}
        }, {
            name: '所有问题',
            data: {$qs_all}
        }]
    });

    $(function () {
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '所有任务分布'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '数量',
                data: [
                    ['未开始',   {$task1}],
                    ['进行中',       {$task2}],
                    ['按时完成',    {$task3}],
                    ['延期完成',     {$task4}],
                ]
            }]
        });
    });
    $(function () {
        $('#container3').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: '所有问题分布',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: '数量',
                innerSize: '50%',
                data: [
                    ['待整改',   {$qs1}],
                    ['修复中',       {$qs2}],
                    ['待销项', {$qs3}],
                    ['已销项',    {$qs4}],
                ]
            }]
        });
    });

    $('#container11').highcharts({

        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: '统计图表'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: '数量'
            }
        },
        tooltip: {
            formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
});
</script>
</body>
</html>