<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>CRM客户关系管理系统</title>
    <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
    <script type="text/javascript">
        var ThinkPHP = {
            'ROOT' : '__ROOT__',
            'MODULE' : '__MODULE__',
            'INDEX' : '{:U("Index/index")}',
            'DATA' : '__PUBLIC__/data',
            'IMG' : '__PUBLIC__/img'
        };
    </script>
</head>
<body>


<ul id="nav"></ul>


<script type="text/javascript" src="__EASYUI__/jquery.min.js"></script>
<script type="text/javascript" src="__EASYUI__/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__EASYUI__/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript">
    $('#nav').tree({
       url : ThinkPHP['MODULE'] + '/Test/getNav2',
    });
</script>
</body>
</html>